/* general styles */
html,
body {
    height: 100%;
    width: 100%;
}

/* padded section */
.pad-section {
    padding: 50px 0;
}

.pad-section img {
    width: 100%;
}

/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* additional sections */
#home {
    background: url('https://firebasestorage.googleapis.com/v0/b/pics-85b52.appspot.com/o/sunset-815270_960_720.jpg?alt=media&token=912440cf-abce-4864-b825-9e6256220e15') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#services {
    background-color: #306d9f;
    color: #ffffff;
}

#services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

#about {
    background: url('https://cdn.pixabay.com/photo/2017/04/04/22/27/skyscraper-2203337_960_720.jpg') no-repeat center center fixed;
    display: table;
    height: 300px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about .panel {
    opacity: 0.85;
}



#footer {
    background: url('https://cdn.pixabay.com/photo/2015/02/02/11/11/office-620823_960_720.jpg') no-repeat center center fixed;
    display: table;
    height: 25%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* new */

#circleImage {
 margin-top: 10%;

}

.titleText {
  margin-bottom: 5%;
  text-shadow: 4px 4px 8px rgba(255, 99, 80, 1);
}

.pull-right{
  margin-top: 10px;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
